* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  background-size: auto;
  margin: 0;
}

#search-box {
  font: inherit;
  padding: 8px 32px 8px 8px;
  width: 50%;
  margin: 15px auto 16px 25%;
  margin-left: 35%;
}

#search-box:focus {
  outline: none;
  border: 2px solid rgb(79, 79, 184);
}

.search-form {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  background-color: rgb(79, 79, 184);
  width: 100%;
}

#search-button {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url('../images/icons8-search-30.png');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  margin-left: -38px;
  vertical-align: middle;
  border: none;
  outline: none;
  background-color: #fafafa;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 48px;
  margin-left: 0;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-item {
  position: relative;
  width: 400px;
  height: 350px;
  display: inline-block;
  margin: 10px;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.gallery-item .gallery-img {
  display: block;
  width: 100%;
}
.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-item .img-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-bottom: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  box-sizing: border-box;
}

.gallery-item .img-info span {
  font-size: 14px;
  font-weight: bold;
}

.gallery-item .img-info span:last-child {
  margin-bottom: 0;
}
.img-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  color: #212121;
}
.img-info > span {
  font-size: 14px;
  font-weight: bold;
}
.img-info > span:first-child {
  margin-right: 10px;
}
.load-more {
  display: none;
}
